.TodoItems {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-left: 3px;
  gap: 2px;
}
.TodoItemsIcon {
  display: flex;
  justify-items: center;
  /* margin-top: 10px; */
  cursor: pointer;
  gap: 10px;
}
.TodoItemsIcon img {
  width: 24px;
  height: 24px;
}
.TodoItemsIcon p {
  margin-left: 4px;
  font-size: 17px;
  color: #566;
}
.TodoItemsDel img {
  width: 0.875rem;
  /* margin-top: 0px; */
  margin-right: 20px;
  cursor: pointer;
}
.Todo {
  padding: 30px;
}
